<html>
<body>
    <p>Beste Distributie Medewerkers,</p>
    <br />
    <p>
        Hierbij ontvangen jullie in de bijlage de pakbon naar aanleiding van de bestelling van: {0}
        Geplaatst op: {1}.
    </p>
    <p>
        Met Vriendelijke Groet, <br />
        Distrifest<br />
    </p>
</body>
</html>
