body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #6363C0;
}

@media (min-width:1800px) {
    #Fix_Divrt {
        width: 325px;
        margin-top: 62px;
        position: fixed;
        top: 0%;
        right: 0%;
        z-index: 500;
    }

        #Fix_Divrt .inner_middle {
            margin-right: 25px;
            overflow: hidden;
            margin-top: 12px;
        }
}

@media (max-width:1799px) {
    #Fix_Divrt {
        display: none !important;
    }

        #Fix_Divrt .inner_middle {
            display: none !important;
        }
}

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}

    .overflow-scroll::-webkit-scrollbar {
        width: 12px;
    }

    .overflow-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .overflow-scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #49499A;
    color: #999999;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #343477;
    color: #999999;
}

.order-table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #b0b0ba;
    color: #000000;
}


.errorbox {
    background: black;
    color: white;
    height: 100px;
    line-height: 50px;
}