body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 15px;
    background-color: #2e393c;
    background-image: url(Images/background_02.png);
    background-repeat: repeat;
}

body, .navbar-inverse {
    padding-left: calc(100vw - 100%);
}

a, a:visited, a:link {
    color: #7f7f01;
    text-decoration: none;
}

a:hover {
    color: #9a9a01;
    text-decoration: none;
}

.clickable {
    cursor:pointer;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid #CD0A0A;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.navbar-inverse {
    background: linear-gradient(#7f7f01, #7f7f01, #7f7f01, #5c5c00);
    border: none;
    box-shadow: rgba(0,0,0,0.35) 0 5px 10px;
    color: #fff;
}

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: transparent;
        }

.logo {
    max-height: 35px;
}

.logintitle{
    color: #fff;
}

.btn-default,
.btn-default:link,
.btn-default:visited {
    color: #fff;
    background: linear-gradient(#b3b3b3, #7a7a7a);
    border-color: #ccc;
}

.btn-default-wide {
    color: #fff;
    background: linear-gradient(#b3b3b3, #7a7a7a);
    border-color: #ccc;
    width: 100%;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #fff;
    background: linear-gradient(#cacaca, #999999);
    border-color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.btn-default-wide:hover,
.btn-default-wide:focus,
.btn-default-wide:active,
.btn-default-wide.active,
.open .dropdown-toggle.btn-default-wide {
    color: #fff;
    background: linear-gradient(#cacaca, #999999);
    border-color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.btn-green,
.btn-green:link,
.btn-green:visited {
    color: #fff;
    background: linear-gradient(#7f7f01, #7f7f01, #7f7f01, #5c5c00);
    border-color: #5c5c00;
}

.btn-green-wide,
.btn-green-wide:link,
.btn-green-wide:visited {
    color: #fff;
    background: linear-gradient(#7f7f01, #7f7f01, #7f7f01, #5c5c00);
    border-color: #5c5c00;
    width: 100%;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #fff;
    background: linear-gradient(#baba01, #9e9e02);
    border-color: #7f7f01;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.btn-green-wide:hover,
.btn-green-wide:focus,
.btn-green-wide:active,
.btn-green-wide.active,
.open .dropdown-toggle.btn-green-wide {
    color: #fff;
    background: linear-gradient(#baba01, #9e9e02);
    border-color: #7f7f01;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}



.btn-sm {
    color: #fff;
    background: linear-gradient(#b3b3b3, #7a7a7a);
    border-color: #ccc;
    font-weight: normal;
}

.text-center {
    padding-bottom: 15px;
}

.conversation {
    max-height:15em;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    margin-top: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    padding-top: 45px;
    border-radius: 6px;
}

.ReportDiv {
    text-align: center;
    margin-bottom: 15px;
}

.col-sm-12 {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    border: 5px solid #b3b3b3;
    margin-bottom: 15px;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.45), inset 0 0 10px 0 rgba(0,0,0,.45), 5px 5px 10px 0 rgba(0,0,0,.4);
}

    .col-sm-12 p {
        color: #000;
    }

        p.danger {
            color: red;
        }

.bestelinput {
    width: 120px;
    height: 35px;
    margin-right: 15px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.15);
    padding-left: 10px;
}

.bestelknop {
    background: linear-gradient(#7f7f01, #7f7f01, #7f7f01, #5c5c00);
}

.jumbotron {
    padding: 30px;
    margin: 20px -15px 30px -15px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
}

    .jumbotron h1 {
        color: #5c5c00;
        text-align: center;
    }

    .jumbotron h1 img {
        margin-bottom: 8px;
    }

.footertext {
    color: #fff;
    padding: 0 20px;
}

.footertext_dark {
    color: #bbb;
    padding: 0 20px;
}

@media (min-width:1800px) {
    #Fix_Divrt {
        width: 325px;
        margin-top: 62px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 500;
    }

        #Fix_Divrt .inner_middle {
            margin-right: 25px;
            overflow: hidden;
            margin-top: 12px;
        }
}

@media (max-width:1799px) {
    #Fix_Divrt {
        display: none !important;
    }

        #Fix_Divrt .inner_middle {
            display: none !important;
        }
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
    overflow: hidden;

}

.modal-open {
    overflow: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
/*    overflow-y: scroll; */
}

.modal-dialog {
    z-index: 1050;
    width: auto;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.modal-body {
    position: relative;
    padding: 20px 20px 0 20px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        right: auto;
        left: 50%;
        width: 600px;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .modal-content {
        -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    background: linear-gradient(#7f7f01, #7f7f01, #7f7f01, #5c5c00);
}

.modal-title {
    color: #fff;
    margin: 0;
    line-height: 1.428571429;
}

.chatinput {
    max-width: 80%;
    height: 35px;
    margin-right: 5px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.15);
    padding-left: 10px;
}

.chatrecipient {
    max-width: 80%;
    height: 35px;
    margin-right: 5px;
    padding-left: 10px;
}

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    max-width: 100%;
    background-color: #f8f8f8;
    vertical-align: middle;
}

thead {
    background-color: #fff;
    color: #7f7f01;
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background: #e4e4e4;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background: #7f7f01;
    color: #fff;
}

.table tbody .last:hover td, .table tbody tr:hover th {
    background-color: inherit;
    color: #fff;
}

.order-table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #b0b0ba;
    color: #000000;
}

.errorbox {
    background: black;
    color: white;
    height: 100px;
    line-height: 50px;
}

.EmptyListBody {
    height: 297mm;
    width: 250mm;
    margin: auto;
    background-color: white;
}

.EmptyListHeader {
    height: 120px;
    background-color: #7f7f01;
    margin-top: -30px;
    margin-bottom: 50px;
}

.EmptyListDistriLogo {
    max-height: 80px;
    float: left;
    padding: 10px;
    position: relative;
    top: 18%;
    left: 2%;
}

.EmptyListFestivalLogo {
    float: right;
    height: 80px;
    position: relative;
    top: 18%;
    right: 2%;
}

.EmptyListTitle {
    outline: 1px solid #ccc;
    align-self: center;
    margin-bottom: 2em;
    padding: 1em;
}

.EmptyListTable {
    background-color: #fff;
}

    .EmptyListTable tr {
        height: 50px;
    }

.green {
    color: #7f7f01;
}