@{
    Layout = "~/Views/Shared/_LayoutNoUI.cshtml";
    ViewBag.Title = "Lege Bestellijst";
}
@using Models
@using System.Text.RegularExpressions
@model List<Product>
<div class="EmptyListBody">
    <div class="EmptyListHeader">
        <img src="~/Content/Images/distrilogo_png.png" class="EmptyListDistriLogo" />
        <img src="~/Content/Images/Bospop_logo_zwart.png" class="EmptyListFestivalLogo" />
    </div>
    <div class="container">
        <div class="EmptyListTitle">
            <div class="text-center">
                <h1 class="green">OFFLINE ORDERLIJST</h1>
            </div>
            <table class="EmptyListTable">
                <tr>
                    <td>Barnummer:</td>
                    <td>&nbsp;_________________&nbsp;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Ordernummer: </td>
                    <td>&nbsp;_________________&nbsp;</td>
                    <td class="green">&nbsp;<i>(in te vullen door DC)</i></td>
                </tr>
            </table>
        </div>
        <table class="table table-responsive table-hover table-bordered table-striped order-table" align="center">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Product Volume</th>
                    <th>Aantal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product prod in Model)
                {
                    if (prod.Active)
                    {
                        <tr>
                            <td>@Regex.Replace(prod.Name, @"(?!^)(?:[A-Z](?:[a-z]+|(?:[A-Z\d](?![a-z]))*)|\d+)", " $0")</td>
                            <td>@prod.Volume @prod.VolumeType</td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <footer>
        <hr />
        <p class="footertext_dark">&copy; @DateTime.Now.Year - Dennis Aspers  <span style="float: right;">Design by Ferry Adams</span></p>
    </footer>
</div>