@using DistriFest.Models.ViewModels
@using Models
@using System.Text
@using System.Text.RegularExpressions
@model OLChangeViewModel
@{
    StringBuilder prodName = new StringBuilder();
    ////var split = Regex.Split(Model.Name, @"(?<!^)(?=[A-Z])");
    //foreach (string s in split)
    //{
    //    //prodName.Append(s);
    //    //prodName.Append(' ');
    //}
}
<td class="text-center">
    @using (Html.BeginForm("DeleteProductFromOrder", "Home", FormMethod.Post, new { style = "display: inline" }))
    {
        @Html.HiddenFor(x => x.ProdID, Model.ProdID)
        @Html.HiddenFor(x => x.OrderID, Model.OrderID)
        <input type="hidden" name="_returnURL" value="@Request.RawUrl"/>
        <input type="submit" value="Verwijder" class="btn btn-default" style="color: #fff; background: linear-gradient(#b3b3b3, #7a7a7a);" onclick="" />
    }
</td>
@prodName.Clear()