@using DistriFest.Models.ViewModels
@using Models
@using System.Text.RegularExpressions
@using System.Text
@model ShoppingCartViewModel
@{
    int i = 0;
    StringBuilder prodName = new StringBuilder();
}

<div class="overflow-scroll">
    <table class="table table-responsive table-striped table-hover table-bordered">
        <thead>

        </thead>
        <tbody>
            @if (Model.Order.Products.Count > 0)
            {
                foreach (OrderLine order in Model.Order.Products)
                {
                    {
                        <tr>
                            @{
                                var split = Regex.Split(order.Product.Name, @"(?<!^)(?=[A-Z])");
                            }
                            @foreach (string s in split)
                            {
                                prodName.Append(s);
                                prodName.Append(' ');
                            }
                            @{
                                i += order.Amount;
                            }

                            @using (Html.BeginForm("DeleteProductFromOrder", "Home", new OLChangeViewModel { ProdID = order.Product.ID, Amount = order.Amount, OrderID = Model.Order.ID }, FormMethod.Post, new { style = "display: inline-block; width: 100%" }))
                            {
                                <td colspan="4">@order.Amount X @prodName  <input type="submit" value="verwijder" class="btn btn-sm" style="float:right;" /></td>
                            }
                        </tr>
                        prodName.Clear();
                    }
                }
            }
            else
            {
                <tr>
                    <p>Geen Producten in de winkelwagen</p>
                </tr>
            }
        </tbody>
    </table>
</div>