@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Product Beheer";
    List<Product> SortedList = Model.OrderBy(o => o.VolumeType).ToList();
}
@using System.Security.Claims
@using Models
@model List<Product>

<div class="row">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <td>Product</td>
                <td>Product Volume</td>
                <td>Actief</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in SortedList)
            {

                @Html.Partial("../PartialViews/PartialManageItem", product);

            }
            <tr onclick="location.href = '@(Url.Action("AddProductToDB","Home"))'">
                <td colspan="3" class="text-center" style="cursor:pointer"> Voeg Product Toe</td>
            </tr>
        </tbody>
    </table>
</div>