@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Product Beheer";
    List<ProductViewModel> SortedList = Model.OrderBy(o => o.VolumeType).ToList();
}
@using System.Security.Claims
@using DistriFest.Models.ViewModels
@model List<ProductViewModel>

@Html.Partial("../PartialViews/PartialAddItem", new ProductViewModel())

<div class="row">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <td>Product</td>
                <td>Product Volume</td>
                <td>Actief</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductViewModel product in SortedList)
            {
                @Html.Partial("../PartialViews/PartialManageItem", product);
            }
            <tr class="last">
                <td colspan="4" class="text-center"><a href="#" class="btn btn-green-wide" data-toggle="modal" data-target="#AddProduct">Voeg nieuw product toe</a></td>
            </tr>
        </tbody>
    </table>
</div>