@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Product Lijst";
    var identity = (ClaimsIdentity)User.Identity;
    ShoppingCartViewModel scvm = new ShoppingCartViewModel(Convert.ToInt16(identity.Claims.Last().Value));
}
@using System.Security.Claims
@using DistriFest.Models.ViewModels
@using Models
@model List<Product>


<div class="row">
    @foreach (Product product in Model)
    {
        if (product.Active)
        {
            @Html.Partial("../PartialViews/PartialItem", product);
        }

    }
</div>