@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Reporting";
}
@using Models
@model List<Report>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-center errorbox" style="margin-top:20px; width:100%; height:50px; background-color:#c8dff7">
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
}

<div class="row">

        @foreach (Report chart in Model)
    {
        <div class="ReportDiv">
            @Html.Partial("../PartialViews/PartialChart", chart)
        </div>
}

        <div>
            @using (Html.BeginForm("GetExcelReport", "Home", FormMethod.Post))
        {
            <input type="submit" class="btn btn-green" value="Exporteer data" />
    }
        </div>
</div>