@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Reporting";
}
@using Models
@model List<Report>

<div class="row">

        @foreach (Report chart in Model)
    {
        <div class="ReportDiv">
            @Html.Partial("../PartialViews/PartialChart", chart)
        </div>
}

        <div>
            @using (Html.BeginForm("GetExcelReport", "Home", FormMethod.Post))
        {
            <input type="submit" class="btn btn-green" value="Exporteer data" />
    }
        </div>
</div>