@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Reporting";
}
@using Models
@model List<Report>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-center errorbox" style="margin-top:10px; width:99%; height:50px; background-color:#c8dff7">
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
}

@foreach (Report chart in Model)
{
    <div style="margin-top:10px;">
        @Html.Partial("../PartialViews/PartialChart", chart);
    </div>
}