@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DistriFest.Models.ViewModels
@model OrderViewModel

@using (Ajax.BeginForm("ProcessDCOrder", "Home", new AjaxOptions { HttpMethod = "Post" }, new { id = "confirmation", onsubmit= "DoSubmit();" }))
{
    <div class="row">
        @Html.EditorForModel(Model)
    </div>
}

@section scripts{
    <script>
        $('#ConfirmationModal').on('shown.bs.modal', function (e) {
            $("#confTable > tbody").empty();
            $('#SelectedStatus').val("Delivered");
            checkForm();
        });

        $('#Confirm').click(function () {
            $('#ConfirmationModal').modal('toggle');
        });

        function DoSubmit() {
            $('input[type=number]').each(function () {
                $(this).val(-Math.abs($(this).val()))
            })
        };

        function checkForm() {
            var bar = $('#SelectedUserID option:selected').text();
            if (bar == '') {
                bar = 'Bar niet geselecteerd!';
                $('#barNo').addClass('text-danger');
            } else {
                $('#barNo').removeClass('text-danger');
            }
            $('#barNo').text(bar);
            var lastProd = 0;
            var curProd = 0;
            var totalProductcount = 0;
            $.each($('#confirmation').serializeForm(), function (key, value) {
                if (key == 'ID') {
                    $('#deliveryNo').text(value);
                } else if (key == 'Products') {
                    var previousProd = 0;
                    var prodNo = 0;
                    var prodName = '';
                    var prodVol = '';
                    var prodAmount = 0;
                    $.each(value, function (key, value) {
                        if (prodNo == key.replace(/\D/g, '')) {
                            if (key.includes('Name')) {
                                prodName = value.replace(/([A-Z])/g, " $1");
                            } else if (key.includes('Volume') && !key.includes('VolumeType')) {
                                prodVol = value;
                            } else if (key.includes('VolumeType')) {
                                prodVol = prodVol.concat(' ' + value);
                            } else if (key.includes('Amount') && !key.includes('AmountInStock')) {
                                prodAmount = value;
                                prodNo = prodNo + 1;
                            }
                            if (prodNo > previousProd) {
                                if (prodAmount > 0) {
                                    $('#confirmationBody').append(('<tr><td>' + prodName + '</td><td>' + prodVol + '</td><td>' + parseInt(prodAmount) + '</td></tr>'))
                                    totalProductcount = totalProductcount + 1;
                                }
                                previousProd = previousProd + 1;
                            }
                        }
                    });
                }
            });
            if (totalProductcount == 0) {
                $('#confirmationBody').append(('<tr><td colspan="3"> Geen producten Besteld  </td></tr>'))
                $('#Confirm').prop("disabled", true);
            }
        }

    </script>
}

