<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataHandling.Properties.Settings.MSSQLConnString"
            connectionString="Data Source=SQL6003.site4now.net;Initial Catalog=DB_A2C9F3_Distrifestdb;User Id=DB_A2C9F3_Distrifestdb_admin;Password=Insomniac1988!;MultiSubnetFailover=False;MultipleActiveResultSets=true;"
            providerName="" />
    </connectionStrings>
</configuration>