<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c5455924-c660-44b6-88b8-a686cbf92195/resourcegroups/DistriFestRG/providers/Microsoft.Web/sites/DistriFest</ResourceId>
    <ResourceGroup>DistriFestRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://distrifest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>distrifest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DistriFest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DistriFest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DistriFestEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;Application Name=EntityFramework" Name="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DistriFest.DistriFestEntities, DistriFest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DistriFest.Properties.Settings.DBConnectionstring" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;Integrated Security=False;User ID=Callmebackdraft;Password=Brainiac1988;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DistriFest.Properties.Settings.DBConnectionstring_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;Integrated Security=False;User ID=Callmebackdraft;Password=Brainiac1988;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;Application Name=EntityFramework" Name="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DistriFest.Properties.Settings.DBConnectionstring-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DistriFestEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DistriFestADO.csdl|res://*/DistriFestADO.ssdl|res://*/DistriFestADO.msl;provider=System.Data.SqlClient;provider connection string="Data Source=distrifest.database.windows.net;Initial Catalog=DistriFest;User ID=Callmebackdraft;Password=Brainiac1988;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>